.servicespricing {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.servicespricingcontent {
    width: 1199px;
    height: 718px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.servicespricingtitle {
    display: flex;
    flex-direction: row;
    width: 106px;
    height: 24px;
    background: #4EAF4E;
    border-radius: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.servicespricingcontent h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116%;
    text-align: center;
    color: #181818;
    margin-top: 10px;
    margin-bottom: 60px;
}

.servicespricingcontentrow {
    height: 580px;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
}

.servicespricingcard {
    display: flex;
    flex-direction: column;
    padding: 22px;
    gap: 10px;
    width: 340px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 20px;
}

.servicespricingcardbanner {
    width: 338px;
    height: 234px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.servicespricingcardbannertext {
    position: relative;
    width: 323px;
    height: 220px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.servicespricingcardbannertextinside {
    position: absolute;
    width: 257px;
    height: 174px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 35px;
    margin-left: 30px;
}

.servicespricingcardbannerrow {
    display: flex;
    flex-direction: row;
    column-gap: 9px;
    align-items: center;
    height: 58px;
}

.servicespricingcardtitle1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 123px;
    height: 24px;
    background: #3E3E3E;
    border-radius: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

.servicespricingcardtitle2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 123px;
    height: 24px;
    background: #4EAF4E;
    border-radius: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 5px;
}

.servicespricingcardsplatterimg {
    max-width: 93px;
    position: absolute;
    /* Keeps the reyphoto at the top */
    /* Ensure greyphoto is behind the frontphoto */
    top: -44px;
    left: 224px;
    z-index: 1;
}

.servicespricingcardbannerrow h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 116%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 0;
    margin-top: 9px;
        margin-bottom: 0;
}

.servicespricingcardbannertext h3 {
    margin: 0;
    text-align: left;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 116%;
    color: #FFFFFF;
}

.servicespricingcardbannertext h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;

    width: 257.66px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 50;
    font-size: 16px;
    line-height: 147.5%;
    color: #ffffffda;
}

.servicespricingcardbannertext hr {
    border: 0px;
    border-top: 1px dashed #565656;
    width: 272px;
    margin-bottom: 10px;
}

.servicespricingcardrow {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.servicespricingcardrowicon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
}

.servicespricingcardrow h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 251.5%;
    color: #595566;
    margin: 0;
    text-align: left;
}

.servicespricingcardbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 323px;
    height: 59px;
    border: 1px solid #D6D6D6;
    border-radius: 42px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    background-color: transparent;
    color: #181818;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.servicespricingcardbutton:hover {
    background-color: #FFCC4A;
}