.talkcontact {
    width: 1200px;
    height: 412px;
    background: #181818;
    border-radius: 30px;
    overflow: hidden;
}

.homeaboutcontentimgs {
    position: relative;
    min-width: 1100px;
    margin-left: 100px;
    height: 412px;
}

.homeaboutcontentsplatterimg {
    max-width: 320px;
    position: absolute;
    /* Keeps the greyphoto at the top */
    left: 465px;
    /* Keeps the greyphoto at the left */
    z-index: 1;
    /* Ensure greyphoto is behind the frontphoto */
    top: 60px;
}

.homeaboutcontentaboutimg {
    max-height: 412px;
    position: absolute;
    left: 487px;
    z-index: 2;
}

.talkcontacttext {
    border-radius: 28px;
    max-width: 488px;
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.talkcontacttexttitle {
    display: flex;
    flex-direction: row;
    width: 119px;
    height: 24px;
    background: #323232;
    border-radius: 20px;
    flex-grow: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.talkcontacttext h2 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116%;
    color: #FFFFFF;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}

.talkcontacttext h3 {
    width: 430px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    color: #FFFFFF;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.contactcontenttextrow {
    margin-top: 10px;

    width: 500px;
    display: flex;
    flex-direction: row;
}

.contactcontentthininput {
    box-sizing: border-box;
    padding: 22px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    width: 304px;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 54px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 147.5%;
    color: #A9A9A9;
}

.contactcontenttextrow button {
    display: flex;
    flex-direction: row;
    width: 168px;
    height: 61px;
    background: #4EAF4E;
    border-radius: 42px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.contactcontenttextrow button:hover {
    background: transparent;
    color: #FFFFFF;
}